<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sptek.spdevteam.intern.content.mybatis.RegisterMapper">
    <insert id="ctnSave" parameterType="sptek.spdevteam.intern.content.domain.Content">
        INSERT INTO internsc.tb_ctn
        (
             tpl_cd,
             src_cd,
             img_grp_id,
             ctn_nm,
             dsp_st_dt,
             dsp_end_dt,
             ctn_div,
             dsp_yn,
             cmt_yn,
             cst_yn,
             pop_msg,
             view_cnt,
             reg_dt,
             mod_dt,
             use_yn
        )
        VALUES
        (
             #{tplCd},
             #{srcCd},
             #{imgGrpId},
             #{ctnNm},
             to_timestamp(#{dspStDt}||' 00:00:00.000','YYYY-MM-DD HH24:MI:SS'),
             to_timestamp(#{dspEndDt}||' 23:59:59.999','YYYY-MM-DD HH24:MI:SS'),
             #{ctnDiv},
             #{dspYn},
             #{cmtYn},
             #{cstYn},
             #{popMsg},
             0,
             #{regDt},
             #{modDt},
             'y'
        )
    </insert>

    <insert id="imgSave" parameterType="sptek.spdevteam.intern.content.domain.Image">
        INSERT INTO internsc.tb_img
        (
            img_grp_id,
            img_ty_cd,
            path,
            fe_nm,
            enc_fe_nm,
            fe_ext,
            fe_sz,
            reg_dt,
            mod_dt,
            use_yn,
            img_odr
        )
        VALUES
        (
            #{imgGrpId},
            #{imgTyCd},
            #{path},
            #{feNm},
            #{encFeNm},
            #{feExt},
            #{feSz},
            #{regDt},
            #{modDt},
            #{useYn},
            #{imgOdr}
        )
    </insert>

    <insert id="ctnDetSave" parameterType="sptek.spdevteam.intern.content.domain.ContentDet">
        INSERT INTO internsc.tb_ctn_det
        (
            ctn_seq,
            img_grp_id,
            tpl_cd,
            url_addr,
            reg_dt,
            mod_dt,
            use_yn
        )
        VALUES
        (
            #{ctnSeq},
            #{imgGrpId},
            #{tplCd},
            #{urlAddr},
            #{regDt},
            #{modDt},
            #{useYn}
        )
    </insert>

    <select id="getCtnSeq" parameterType="String" resultType="int">
        SELECT
            ctn_seq
        FROM internsc.tb_ctn
        WHERE img_grp_id = #{imgGrpId}
    </select>
</mapper>